<% if notice.present? %>
  <div id="notice" class="mui-panel"><%= notice %></div>
<% end %>

<h1>Todo</h1>

<%= render partial: 'table', locals: { items: @incomplete_items } %>
<%= link_to 'New Todo Item', new_todo_item_path, class: 'mui-btn mui-btn--primary' %>

<h2>Completed</h2>
<%= render partial: 'table', locals: { items: @complete_items } %>
